.dragicon {
	-fx-background-radius: 10; 
}

.icon-sound {
	-fx-background-color: blue;
}
.icon-video {
	-fx-background-color: orange;
}

.background-timeline {
	-fx-background-image: url("../../resources/timelineLineTempBck.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
}
