.dragicon {
	-fx-background-radius: 10;
	-fx-background-color: rgba(75,75,75,0.1); 
	 
}

.icon-video {
	-fx-background-image: url("../../resources/VLC_Icon.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: cover; 
}

.icon-sound {
	-fx-background-image: url("../../resources/icon_sound.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: cover; 
}

.icon-image {
	-fx-background-image: url("../../resources/icon_image.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: cover; 
}

.icon-window {
	-fx-background-image: url("../../resources/icon_window.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: cover; 
}

.background-seeker {
	-fx-background-image: url("../../resources/SeekerIcon.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: cover; 
}

.background-seekerpopup {
	-fx-background-radius: 10;
	-fx-background-color: rgba(0,0,0,0.5); 
}

.background-video {
	-fx-background-image: url("../../resources/videoTypeBack.png");
	/*-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: cover;
	-fx-background-radius: 10; */
}

.background-image {
	-fx-background-image: url("../../resources/background_image.png");
}

.background-sound {
	-fx-background-image: url("../../resources/background_sound.png");
}

.background-window {
	-fx-background-image: url("../../resources/background_window.png");
}

.background-modal {
	-fx-background-image: url("../../resources/background_modal.png");
	fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: cover;
	/*-fx-background-radius: 10; */
}
.icon-cog {
	-fx-background-image: url("../../resources/Icon_cog.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: cover;
}

.background-timeline {
	-fx-background-image: url("../../resources/timelineBackTemp.png");
		-fx-background-position: center;
	/*-fx-background-color: rgba(255,255,0,0.5); */
}

.background-timeline-test {
	-fx-background-image: url("../../resources/timelineLineTempBck.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: cover;
}

.background-info {
	-fx-background-image: url("../../resources/screenInfoBck.png");
	-fx-background-repeat: no-repeat;
		-fx-background-position: center;
	-fx-background-size: cover;
	/*-fx-background-color: rgba(255,255,0,0.5); */
}

.background-advancedScreen {
	-fx-background-image: url("../../resources/background_dokkhuset.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane {
   -fx-background-color: transparent;
}

.background-transparent {
	-fx-background-color:rgba(0,100, 100, 0.5);
}

.background-main {
	-fx-background-image: url("../../resources/background_dokkhuset.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
}

.header-large {
	-fx-fill: linear-gradient(palegreen,seagreen);
	-fx-font-family: Helvetica;
	-fx-font-size: 72;
}

.header-smal {
	-fx-fill: linear-gradient(cyan,white);
	-fx-font-family: Helvetica;
	-fx-font-size: 48;
}

.up-button{
	-fx-background-image: url("../../resources/timelineInfo_up.png");
	-fx-background-position: center;
}
.down-button{
	-fx-background-image: url("../../resources/timelineInfo_down.png");
	-fx-background-position: center;
}

